body,html{
    font-family:
        "MicrosoftYaHei",
        "微软雅黑",
        "Arial",
        "Tahoma",
        "Helvetica",
        "Georgia",
        "华文黑体",
        "Hei",
        "Hiragino Kaku Gothic Pro",
        "SimSun";
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}
h1 {
    margin-left: 30px;
    font-size: 30px;
}
.white-bg .navbar-fixed-top,
.white-bg .navbar-static-top {
    background: #fff;
}
.btn {
    border-radius: 3px;
}
.float-e-margins .btn {
    margin-bottom: 5px;
}
.btn-primary.btn-outline {
    color: #1ab394;
}
.btn-success.btn-outline {
    color: #1c84c6;
}
.btn-info.btn-outline {
    color: #23c6c8;
}
.btn-warning.btn-outline {
    color: #f8ac59;
}
.btn-danger.btn-outline {
    color: #ed5565;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #18a689;
    border-color: #18a689;
    color: #FFFFFF;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
    background-color: #1dc5a3;
    border-color: #1dc5a3;
}
.btn-success {
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #FFFFFF;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-color: #1a7bb9;
    border-color: #1a7bb9;
    color: #FFFFFF;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success.active[disabled],
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
    background-color: #1f90d8;
    border-color: #1f90d8;
}
.btn-info {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFFFFF;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background-color: #21b9bb;
    border-color: #21b9bb;
    color: #FFFFFF;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background-image: none;
}
.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled]:active,
.btn-info.active[disabled],
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
    background-color: #26d7d9;
    border-color: #26d7d9;
}
.btn-default {
    background-color: #c2c2c2;
    border-color: #c2c2c2;
    color: #FFFFFF;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-color: #bababa;
    border-color: #bababa;
    color: #FFFFFF;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default.active[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
    background-color: #cccccc;
    border-color: #cccccc;
}
.btn-warning {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #FFFFFF;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background-color: #f7a54a;
    border-color: #f7a54a;
    color: #FFFFFF;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:active,
.btn-warning.active[disabled],
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
    background-color: #f9b66d;
    border-color: #f9b66d;
}
.btn-danger {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #FFFFFF;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-color: #ec4758;
    border-color: #ec4758;
    color: #FFFFFF;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:active,
.btn-danger.active[disabled],
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
    background-color: #ef6776;
    border-color: #ef6776;
}
.btn-link {
    color: inherit;
}
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
    color: #1ab394;
    text-decoration: none;
}
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
    background-image: none;
}
.btn-link.disabled,
.btn-link.disabled:hover,
.btn-link.disabled:focus,
.btn-link.disabled:active,
.btn-link.disabled.active,
.btn-link[disabled],
.btn-link[disabled]:hover,
.btn-link[disabled]:focus,
.btn-link[disabled]:active,
.btn-link.active[disabled],
fieldset[disabled] .btn-link,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link:active,
fieldset[disabled] .btn-link.active {
    color: #cacaca;
}
.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    color: inherit;
    border: 1px solid #d2d2d2;
}
.btn-white:active,
.btn-white.active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    background-image: none;
}
.btn-white.disabled,
.btn-white.disabled:hover,
.btn-white.disabled:focus,
.btn-white.disabled:active,
.btn-white.disabled.active,
.btn-white[disabled],
.btn-white[disabled]:hover,
.btn-white[disabled]:focus,
.btn-white[disabled]:active,
.btn-white.active[disabled],
fieldset[disabled] .btn-white,
fieldset[disabled] .btn-white:hover,
fieldset[disabled] .btn-white:focus,
fieldset[disabled] .btn-white:active,
fieldset[disabled] .btn-white.active {
    color: #cacaca;
}
.form-control,
.form-control:focus,
.has-error .form-control:focus,
.has-success .form-control:focus,
.has-warning .form-control:focus,
.navbar-collapse,
.navbar-form,
.navbar-form-custom .form-control:focus,
.navbar-form-custom .form-control:hover,
.open .btn.dropdown-toggle,
.panel,
.popover,
.progress,
.progress-bar {
    box-shadow: none;
}
.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}
.btn-rounded {
    border-radius: 50px;
}
.btn-large-dim {
    width: 90px;
    height: 90px;
    font-size: 42px;
}
button.dim {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding-top: 6px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 20px !important;
}
button.dim:active {
    top: 3px;
}
button.btn-primary.dim {
    box-shadow: inset 0px 0px 0px #16987e, 0px 5px 0px 0px #16987e, 0px 10px 5px #999999;
}
button.btn-primary.dim:active {
    box-shadow: inset 0px 0px 0px #16987e, 0px 2px 0px 0px #16987e, 0px 5px 3px #999999;
}
button.btn-default.dim {
    box-shadow: inset 0px 0px 0px #b3b3b3, 0px 5px 0px 0px #b3b3b3, 0px 10px 5px #999999;
}
button.btn-default.dim:active {
    box-shadow: inset 0px 0px 0px #b3b3b3, 0px 2px 0px 0px #b3b3b3, 0px 5px 3px #999999;
}
button.btn-warning.dim {
    box-shadow: inset 0px 0px 0px #f79d3c, 0px 5px 0px 0px #f79d3c, 0px 10px 5px #999999;
}
button.btn-warning.dim:active {
    box-shadow: inset 0px 0px 0px #f79d3c, 0px 2px 0px 0px #f79d3c, 0px 5px 3px #999999;
}
button.btn-info.dim {
    box-shadow: inset 0px 0px 0px #1eacae, 0px 5px 0px 0px #1eacae, 0px 10px 5px #999999;
}
button.btn-info.dim:active {
    box-shadow: inset 0px 0px 0px #1eacae, 0px 2px 0px 0px #1eacae, 0px 5px 3px #999999;
}
button.btn-success.dim {
    box-shadow: inset 0px 0px 0px #1872ab, 0px 5px 0px 0px #1872ab, 0px 10px 5px #999999;
}
button.btn-success.dim:active {
    box-shadow: inset 0px 0px 0px #1872ab, 0px 2px 0px 0px #1872ab, 0px 5px 3px #999999;
}
button.btn-danger.dim {
    box-shadow: inset 0px 0px 0px #ea394c, 0px 5px 0px 0px #ea394c, 0px 10px 5px #999999;
}
button.btn-danger.dim:active {
    box-shadow: inset 0px 0px 0px #ea394c, 0px 2px 0px 0px #ea394c, 0px 5px 3px #999999;
}
button.dim:before {
    font-size: 50px;
    line-height: 1em;
    font-weight: normal;
    color: #fff;
    display: block;
    padding-top: 10px;
}
button.dim:active:before {
    top: 7px;
    font-size: 50px;
}
.label {
    background-color: #d1dade;
    color: #5e5e5e;
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none;
}
.badge {
    background-color: #d1dade;
    color: #5e5e5e;
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 600;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    text-shadow: none;
}
.label-primary,
.badge-primary {
    background-color: #1ab394;
    color: #FFFFFF;
}
.label-success,
.badge-success {
    background-color: #1c84c6;
    color: #FFFFFF;
}
.label-warning,
.badge-warning {
    background-color: #f8ac59;
    color: #FFFFFF;
}
.label-warning-light,
.badge-warning-light {
    background-color: #f8ac59;
    color: #ffffff;
}
.label-danger,
.badge-danger {
    background-color: #ed5565;
    color: #FFFFFF;
}
.label-info,
.badge-info {
    background-color: #23c6c8;
    color: #FFFFFF;
}
.label-inverse,
.badge-inverse {
    background-color: #262626;
    color: #FFFFFF;
}
.label-white,
.badge-white {
    background-color: #FFFFFF;
    color: #5E5E5E;
}
.label-white,
.badge-disable {
    background-color: #2A2E36;
    color: #8B91A0;
}

/* DATATABLES */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}
table.dataTable thead .sorting_asc:after {
    float: right;
    font-family: fontawesome;
}
table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}
table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, 0.5);
}
.dataTables_wrapper {
    padding-bottom: 30px;
}
/* PEACE */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    background: #1ab394;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}
.pace-inactive {
    display: none;
}
/* INPUTS */
.inline {
    display: inline-block !important;
}
.input-s-sm {
    width: 120px;
}
.input-s {
    width: 200px;
}
.input-s-lg {
    width: 250px;
}
.i-checks {
    padding-left: 0;
}
.form-control,
.single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #383D42;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}
.form-control:focus,
.single-line:focus {
    border-color: #1ab394 !important;
}
.has-success .form-control {
    border-color: #1ab394;
}
.has-warning .form-control {
    border-color: #f8ac59;
}
.has-error .form-control {
    border-color: #ed5565;
}
.has-success .control-label {
    color: #1ab394;
}
.has-warning .control-label {
    color: #f8ac59;
}
.has-error .control-label {
    color: #ed5565;
}
.input-group-addon {
    background-color: #fff;
    border: 1px solid #E5E6E7;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
}
.spinner-buttons.input-group-btn .btn-xs {
    line-height: 1.13;
}
.spinner-buttons.input-group-btn {
    width: 20%;
}
.noUi-connect {
    background: none repeat scroll 0 0 #1ab394;
    box-shadow: none;
}
.slider_red .noUi-connect {
    background: none repeat scroll 0 0 #ed5565;
    box-shadow: none;
}
body {
    /*background-color: #2f4050;*/
    background-color: #f3f3f4;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}
html,
body {
    height: 100%;
}
body.full-height-layout #wrapper,
body.full-height-layout #page-wrapper {
    height: 100%;
}
body.boxed-layout #wrapper {
    background-color: #2f4050;
    max-width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.top-navigation.boxed-layout #wrapper,
.boxed-layout #wrapper.top-navigation {
    max-width: 1300px !important;
}
.block {
    display: block;
}
.clear {
    display: block;
    overflow: hidden;
}
a {
    cursor: pointer;
}
a:hover,
a:focus {
    text-decoration: none;
}
.border-bottom {
    border-bottom: 1px solid #e7eaec !important;
}
.font-bold {
    font-weight: 600;
}
.font-noraml {
    font-weight: 400;
}
.text-uppercase {
    text-transform: uppercase;
}
.b-r {
    border-right: 1px solid #e7eaec;
}
.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}
.hr-line-solid {
    border-bottom: 1px solid #e7eaec;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid !important;
    margin-top: 15px;
    margin-bottom: 15px;
}
video {
    width: 100% !important;
    height: auto !important;
}
/* MODAL */
.modal-content {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    outline: 0 none;
    position: relative;
}
.modal-dialog {
    z-index: 1200;
}
.modal-body {
    padding: 10px;
}
.inmodal .modal-body {
    background: #f8fafb;
}
.inmodal .modal-header {
    padding: 5px 15px;
    text-align: center;
}
.animated.modal.fade .modal-dialog {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
.inmodal .modal-title {
    font-size: 26px;
}
.inmodal .modal-icon {
    font-size: 84px;
    color: #e2e3e3;
}
.modal-footer {
    margin-top: 0;
}
/* WRAPPERS */
#wrapper {
    width: 100%;
    overflow-x: hidden;
}
.wrapper {
    padding: 0 20px;
}
.wrapper-content {
    padding: 20px 10px 40px;
}
#page-wrapper {
    padding: 0 15px;
    position: relative !important;
}
.title-action {
    text-align: right;
    padding-top: 30px;
}
.ibox-content h1,
.ibox-content h2,
.ibox-content h3,
.ibox-content h4,
.ibox-content h5,
.ibox-title h1,
.ibox-title h2,
.ibox-title h3,
.ibox-title h4,
.ibox-title h5 {
    margin-top: 5px;
}
ul.unstyled,
ol.unstyled {
    list-style: none outside none;
    margin-left: 0;
}
.big-icon {
    font-size: 160px;
    color: #e5e6e7;
}
/* FOOTER */
.footer {
    background: none repeat scroll 0 0 white;
    border-top: 1px solid #e7eaec;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    right: 0;
}
.footer.fixed_full {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 20px;
    background: white;
    border-top: 1px solid #e7eaec;
}
.footer.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 20px;
    background: white;
    border-top: 1px solid #e7eaec;
    margin-left: 220px;
}
body.mini-navbar .footer.fixed,
body.body-small.mini-navbar .footer.fixed {
    margin: 0 0 0 70px;
}
body.mini-navbar.canvas-menu .footer.fixed,
body.canvas-menu .footer.fixed {
    margin: 0 !important;
}
body.fixed-sidebar.body-small.mini-navbar .footer.fixed {
    margin: 0 0 0 220px;
}
body.body-small .footer.fixed {
    margin-left: 0px;
}
/* PANELS */
.page-heading {
    border-top: 0;
    padding: 0px 10px 20px 10px;
}
.panel-heading h1,
.panel-heading h2 {
    margin-bottom: 5px;
}
/* TABLES */
.table-bordered {
    border: 1px solid #EBEBEB;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    background-color: #F5F5F6;
    border-bottom-width: 1px;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #e7e7e7;
}
.table > thead > tr > th {
    border-bottom: 1px solid #DDDDDD;
    vertical-align: bottom;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
/* GLOBAL  */
.no-padding {
    padding: 0 !important;
}
.no-borders {
    border: none !important;
}
.no-margins {
    margin: 0 !important;
}
.no-top-border {
    border-top: 0 !important;
}
.ibox-content.text-box {
    padding-bottom: 0px;
    padding-top: 15px;
}
.border-left-right {
    border-left: 1px solid #e7eaec;
    border-right: 1px solid #e7eaec;
    border-top: none;
    border-bottom: none;
}
.border-left {
    border-left: 1px solid #e7eaec;
    border-right: none;
    border-top: none;
    border-bottom: none;
}
.border-right {
    border-left: none;
    border-right: 1px solid #e7eaec;
    border-top: none;
    border-bottom: none;
}
.full-width {
    width: 100% !important;
}
.link-block {
    font-size: 12px;
    padding: 10px;
}
.nav.navbar-top-links .link-block a {
    font-size: 12px;
}
.link-block a {
    font-size: 10px;
    color: inherit;
}
body.mini-navbar .branding {
    display: none;
}
img.circle-border {
    border: 6px solid #FFFFFF;
    border-radius: 50%;
}
.branding {
    float: left;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 20px;
    text-align: center;
    background-color: #1ab394;
}
.login-panel {
    margin-top: 25%;
}
.icons-box h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.icons-box .infont a i {
    font-size: 25px;
    display: block;
    color: #676a6c;
}
.icons-box .infont a {
    color: #a6a8a9;
}
.icons-box .infont a {
    padding: 10px;
    margin: 1px;
    display: block;
}
.ui-draggable .ibox-title {
    cursor: move;
}
.breadcrumb {
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 0;
}
.breadcrumb > li a {
    color: inherit;
}
.breadcrumb > .active {
    color: inherit;
}
code {
    background-color: #F9F2F4;
    border-radius: 4px;
    color: #ca4440;
    font-size: 90%;
    padding: 2px 4px;
    white-space: nowrap;
}
.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}
.ibox.collapsed .ibox-content {
    display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
    content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
    content: "\f077";
}
.ibox:after,
.ibox:before {
    display: table;
}
.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}
.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}
table.table-mail tr td {
    padding: 12px;
}
.table-mail .check-mail {
    padding-left: 20px;
}
.table-mail .mail-date {
    padding-right: 20px;
}
.star-mail,
.check-mail {
    width: 40px;
}
.unread td a,
.unread td {
    font-weight: 600;
    color: inherit;
}
.read td a,
.read td {
    font-weight: normal;
    color: inherit;
}
.unread td {
    background-color: #f9f8f8;
}
.ibox-content {
    clear: both;
}
.ibox-heading {
    background-color: #f3f6fb;
    border-bottom: none;
}
.ibox-heading h3 {
    font-weight: 200;
    font-size: 24px;
}
.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}
.ibox-title .label {
    float: left;
    margin-left: 4px;
}
.ibox-tools {
    display: inline-block;
    float: right;
    margin-top: 0;
    position: relative;
    padding: 0;
}
.ibox-tools a {
    cursor: pointer;
    margin-left: 5px;
    color: #c4c4c4;
}
.ibox-tools a.btn-primary {
    color: #fff;
}
.ibox-tools .dropdown-menu > li > a {
    padding: 4px 10px;
    font-size: 12px;
}
.ibox .open > .dropdown-menu {
    left: auto;
    right: 0;
}
/* BACKGROUNDS */
.gray-bg {
    background-color: #f3f3f4;
}
.white-bg {
    background-color: #ffffff;
}
.navy-bg {
    background-color: #1ab394;
    color: #ffffff;
}
.blue-bg {
    background-color: #1c84c6;
    color: #ffffff;
}
.lazur-bg {
    background-color: #23c6c8;
    color: #ffffff;
}
.yellow-bg {
    background-color: #f8ac59;
    color: #ffffff;
}
.red-bg {
    background-color: #ed5565;
    color: #ffffff;
}
.black-bg {
    background-color: #262626;
}
.panel-primary {
    border-color: #1ab394;
}
.panel-primary > .panel-heading {
    background-color: #1ab394;
    border-color: #1ab394;
}
.panel-success {
    border-color: #1c84c6;
}
.panel-success > .panel-heading {
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #ffffff;
}
.panel-info {
    border-color: #23c6c8;
}
.panel-info > .panel-heading {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #ffffff;
}
.panel-warning {
    border-color: #f8ac59;
}
.panel-warning > .panel-heading {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #ffffff;
}
.panel-danger {
    border-color: #ed5565;
}
.panel-danger > .panel-heading {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #ffffff;
}
.progress-bar {
    background-color: #1ab394;
}
.progress-small,
.progress-small .progress-bar {
    height: 10px;
}
.progress-small,
.progress-mini {
    margin-top: 5px;
}
.progress-mini,
.progress-mini .progress-bar {
    height: 5px;
    margin-bottom: 0px;
}
.progress-bar-navy-light {
    background-color: #3dc7ab;
}
.progress-bar-success {
    background-color: #1c84c6;
}
.progress-bar-info {
    background-color: #23c6c8;
}
.progress-bar-warning {
    background-color: #f8ac59;
}
.progress-bar-danger {
    background-color: #ed5565;
}
.panel-title {
    font-size: inherit;
}
.jumbotron {
    border-radius: 6px;
    padding: 40px;
}
.jumbotron h1 {
    margin-top: 0;
}
/* COLORS */
.text-navy {
    color: #1ab394;
}
.text-primary {
    color: inherit;
}
.text-success {
    color: #1c84c6;
}
.text-info {
    color: #23c6c8;
}
.text-warning {
    color: #f8ac59;
}
.text-danger {
    color: #ed5565;
}
.text-muted {
    color: #888888;
}
.simple_tag {
    background-color: #f3f3f4;
    border: 1px solid #e7eaec;
    border-radius: 2px;
    color: inherit;
    font-size: 10px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px 12px;
    display: inline-block;
}
.img-shadow {
    -webkit-box-shadow: 0px 0px 3px 0px #919191;
    -moz-box-shadow: 0px 0px 3px 0px #919191;
    box-shadow: 0px 0px 3px 0px #919191;
}
a.close-canvas-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1011;
    color: #a7b1c2;
}
a.close-canvas-menu:hover {
    color: #fff;
}
/* FULL HEIGHT */
.full-height {
    height: 100%;
}
.modal-backdrop {
    z-index: 2040 !important;
}
.modal {
    z-index: 2050 !important;
}
.spiner-example {
    height: 200px;
    padding-top: 70px;
}
body.modal-open {
    padding-right: inherit !important;
}
/*quiz*/
.navbar-header h1{
    font-size: 24px;
}

.help {
    margin-left: 10px;
    cursor: pointer;
}
.form-group1 {
    background-color: #f3f3f4
}
.answer-block {
    margin: 10px 0px 10px 0px;
    background-color: #f3f3f4
}
.single {
    margin: 10px 0px 10px 0px;
}
.center {
    text-align: center;
}
.left{
    text-align: left;
}
.v-center{
    line-height: 200px;
}
.media-font {
    font-size: 120%
}
.large-font {
    font-size: 260%;
}
.modal-body p strong {
    margin: 0px 10px 0px 10px;
}
.question-add-alert {
    background-color: #ffcccc;
    height: 40px;
    line-height: 40px;
    margin: 10px 10px 10px 10px;
    font-size: 120%;
    font-weight: bold;
}
.question-manage-alert {
    background-color: #ffcccc;
    height: 40px;
    line-height: 40px;
    margin: 50px auto;
    font-size: 120%;
    font-weight: bold;
}
.question-add-info {
    margin: 10px 10px 10px 10px;
    font-size: 120%;
    font-weight: bold;
    display: block;
}
.choose-questions {
    width: 800px;
    height: 600px;
}
.user-a {
    padding: 0px 10px 0 10px;
}
.publish-info {
    margin: 20px;
}
.index-menu1 {
    margin: 5px;
}
.index-menu2 {
    margin: 5px 5px 5px 30px;
}
.index-menu-font {
    font-size: 140%;
}
#quiz-container {
    margin: auto;
    min-height: 600px;
    width: 1000px;
    border: 2px solid #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    position: relative;
}
.main-quiz-holder{
    padding: 5px 0 0 0;
}
.main-quiz-holder * {
    margin: auto;
}
.slider-container {
    font-size: 140%;
    padding: 10px;
    clear: both;
}
.question-nav {
    padding: 10px 0;
    float: left;
    width: 576px;
}
.question-nav span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #F6F6F6;
    padding: 1px;
    background: #E0ECF3;
    border-radius: 20px;
    margin: 0px 10px 0px 10px;
    text-align: center;
    line-height: 40px;
}
.question-title {
    padding: 5px;
    margin: 5px 20px;
}
.intro-body p{
    display: inline;
}
.answers {
    margin: 0px;
    padding: 5px;
    list-style: none;
}
.answers li {
    padding: 5px 20px;
    margin: 5px 0 5px 50px;
    color: #4c4c4c;
}
.answers label {
    cursor: pointer;
    font-weight: normal
}
.question-body {
    background-color: #D9EDF7;
    min-height: 200px;
}
.question-header{
    padding:20px 0 0 0;
}
.question-type {
    font-weight: bold;
    margin: 10px;
}
.check-button {
    margin-left: 50px;
}

.check-button input{
    margin: 0px 10px;
}
.submit-idea {
    margin-left: 80px;
}
.flag {
    margin-left: 20px
}
.nav-prev .nav-next {
    width: 70px;
    height: 20px;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 25px;
    border-radius: 4px;
}
.pn-nav {
    margin: 30px 200px 100px 200px;
}
.nav-prev {
    float: left;
}
.nav-next {
    float: right;
}
.final {
    float: right
}
.flagged {
    color: red
}
.completed {
}
.check-info {
    margin-left: 10px;
    color: red
}
.special-feedback {
    background-color: #EEEEEE;
    color: #DA7F3F;
    margin-left: 20px
}
.general-feedback,.grade-feedback {
    min-height: 30px;
    background-color: #EEEEEE;
    color: #DA7F3F;
    margin: 30px 0px 30px 0px;
    padding: 20px;
}
.completely-right {
    color: green
}
.partly-right {
    color: yellow
}
.wrong {
    color: red
}
.block {
    display: block
}
.none {
    display: none
}
.inline-block{
    display: inline-block;
}
.q-seq {
    font-size: 140%;
    color: #1c84c6;
    margin-left: 20px;
}
.q-point {
    margin-left: 5px
}
.results-container {
    margin: auto;
}
.qTitle {
    margin: 20px;
    padding: 20px
}
.result-keeper {
    margin: 0 auto
}
.result-row {
    width: 60px;
    display:-moz-inline-stack;
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin: 5px;
}
.result-wrong {
    height: 30px;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 5px;
    color: #4c4c4c;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
    background: #fc5e5e;
    background: -webkit-gradient(linear, left top, left bottom, from(#fc5e5e), to(#ea4646));
    background: -webkit-linear-gradient(#fc5e5e, #ea4646);
    background-image: -moz-linear-gradient(top, #fc5e5e, #ea4646);
    background-image: -moz-gradient(top, #fc5e5e, #ea4646);
    border: 1px solid #e36d6d;
}
.result-right {
    height: 30px;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 5px;
    color: #4c4c4c;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
    background: #c3e462;
    background: -webkit-gradient(linear, left top, left bottom, from(#c3e462), to(#90b61e));
    background: -webkit-linear-gradient(#c3e462, #90b61e);
    background-image: -moz-linear-gradient(top, #c3e462, #90b61e);
    background-image: -moz-gradient(top, #c3e462, #90b61e);
    border: 1px solid #bfff00;
}
.result-right span {
    padding: 0 5px;
}
.result-wrong span {
    padding: 0 5px;
}
.intro-body{
    background-color: #D9EDF7;
    min-height: 200px;
    padding:30px;
}
.intro-body p{
    margin:10px;
}
.intro-body div{
    margin:10px 0;
}
.intro-body p span{
    margin-right:10px;
}
.intro-header {
    margin: 20px auto;
    font-weight: bold;
    font-size: 200%
}

.intro-strong{
    font-weight: bold;
    font-size: 120%;
    color: red;
}
.warning{color:red}
#finish {
    float: right;
}
.grade{
    margin-left: 20px;
    font-size: 120%;
    color:red;
}
.cbm{
   margin:5px 20px;
}
.cbm label,.cbm span{margin:10px 30px;}
.idea{
    margin:5px 20px;
}
.idea span,.idea textarea{margin:5px 30px;}

.countdownTime{
    float: right;
    width: 200px;
    padding: 20px 0 8px 0;
    text-align: center;
}
#countdownTime{
    font-weight: bold;
}
.countdownTime input{
    font-size: 12px;
}
.countdownTime span{
    border-bottom:2px solid #ffbe57;
    font-size: 24px;
    color:#ee2020;
    line-height: 35px;
    margin: 0 10px 0 0;
    padding: 0 5px;
}
.small-btn{
    font-size: 12px;
}
td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.quiz-name{
    clear: both;
    padding: 15px 20px 5px 20px;
    font-weight: bold;
    font-size:18px;
}

.quizName{
    margin:10px 10px 10px 240px;
}

#idea-body td{
    white-space: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}

#teacher-feedback .slider-container{
    padding: 5px;
    margin: 0 50px;
}
#teacher-feedback .question-header{
    padding: 5px;
}

#teacher-feedback .question-title{
    padding: 0;
    margin:5px 10px;
    font-size:80%;
}
#teacher-feedback .answers{
    margin: 0;
    font-size:80%;
}
#teacher-feedback .answers li{
    padding: 0;
}
#teacher-feedback .cbm{
    margin:5px;
}
#teacher-feedback .cbm span{
    margin:10px 0;
}

#teacher-feedback .award{
    margin:5px 100px;
}
